/* ID SELECTORS */
#title {
  background-color: #ff4c68;
  color: #fff;
}

#iphone_title {
  transform: rotate(25deg);
}

#features {
  margin: 50px 0;
}

#testimonials {
  color: #fff;
  background-color: #ef8178;
  text-align: center;
}

#press {
  background-color: #ef8178;
  padding-bottom: 3%;
  text-align: center;
}

#pricing {
  padding: 100px;
  text-align: center;
}

/* TAG SELECTORS */

h1 {
  line-height: 1.5;
  font-size: 3rem;
  font-family: "Montserrat";
}

h2 {
  font-size: 3rem;
  line-height: 1.5;
  font-family: "Montserrat";
}

h3 {
  font-weight: bold;
  font-size: 1.5rem;
  font-family: "Montserrat";
  margin-top: 1rem;
}

p {
  color: #8f8f8f;
}

/* CLASS SELECTORS */

.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "ubuntu";
}

.nav-item {
  padding: 0px 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Monsterrat";
}

.download-button {
  margin: 5% 3% 5% 0;
}

.container-fluid {
  padding: 3% 15%;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #ef8178;
}

.icon:hover {
  color: #ff4c68;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

.permon_text {
  color: #8f8f8f;
}

.card_body_text {
  color: black;
}

.pricing-column {
  padding: 3% 2%;
}
